div {
    text-align: center;
}

h3 {
    /* Same size as h2, but didn't want to use that element for SEO purposes maybe */
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

img {
    width: 50%;
    opacity: 0.9;
}

p {
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
}

hr {
    border: 1px solid #eee;
    margin-right: 100px;
    margin-left: 100px;
}

ul {
    display: inline-block;
    /* top and bottom margins respected compared to just inline; and compared to block it doesn't add any line-break after the element */
    text-align: left;
    margin-top: 0px;
}